#password-old {
}
#password-new {
}
#password-re-new {
}
.password-user-main {
   background-color: #fff;
   padding: 10px 20px 0 20px;
   border-radius: 5px;
}
.password-user-top {
   text-align: left;
   padding: 10px 0 5px;
   margin-bottom: 10px;
   border-bottom: 2px solid #bfbfbf;
}
.address-user-title {
   font-weight: 500;
   font-size: 25px;
}
.password-user-body {
   padding: 20px 0 10px;
   width: 40%;
   margin: 0 auto;
}
.password-user-body form {
   text-align: left;
}
.password-user-bottom {
}
